<header>
    {{#if last}}
    <a id='back' href='..'></a>
    {{/if}}
    <div>
        <span>Index of /</span>
        {{#if last}}
        {{#each navigation}}
        <a href='{{this.href}}'>{{this.text}}</a>
        <span>/</span>
        {{/each}}
        <span>{{last}}</span>
        <span>/</span>
        {{/if}}
    </div>
</header>

<main>
    {{#if rows}}
    <div class='table-container'>
        <table>
            <thead>
                <tr>
                    <th class='icon'></th>
                    <th class='name'>Название</th>
                    <th class='lastmod'>Дата изменения</th>
                    <th class='size'>Размер</th>
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    <td class='icon'>
                        <img src='/static/icons/{{this.type}}.svg' alt='{{this.type}}'>
                    </td>
                    <td class='name'>
                        <a href='{{this.link}}'>{{this.name}}</a>
                    </td>
                    <td class='lastmod'>{{this.date}}</td>
                    <td class='size'>{{this.size}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
    {{else}}
    <h1>Упс... А здесь ничего нет <span class='spacing-wide'>¯\(°_o)/¯</span></h1>
    {{/if}}
</main>