<nav
  class='flex items-center content-center text-center my-5 px-2 md:px-4 py-1 text-xl overflow-x-auto whitespace-nowrap rounded-md text-black bg-neutral-100/90 dark:text-white dark:bg-neutral-800/90'
>
  {{#if navigation}}
    <a
      class='back p-3 mr-3 my-2 bg-image-back bg-center bg-no-repeat bg-contain transition-transform dark:invert hover:scale-110'
      href='..'
      title='назад'
    ></a>
    <a
      class='p-3 mr-1 md:mr-1 my-2 bg-center bg-no-repeat bg-contain bg-image-home transition-transform dark:invert hover:scale-110'
      href='/'
      title='на главную'
    ></a>
  {{else}}
    <span
      class='p-3 mr-1 md:mr-1 my-2 bg-center bg-no-repeat bg-contain bg-image-home dark:invert'
    ></span>
  {{/if}}
  <span
    class='p-3 mx-1 bg-center bg-no-repeat bg-contain bg-image-chevron-right dark:invert'
  ></span>
  {{#each navigation}}
    {{#if @last}}
      <span class='text-neutral-600 dark:text-neutral-300'>{{this.text}}</span>
    {{else}}
      <a
        class='underline decoration-2 hover:text-neutral-600 dark:hover:text-neutral-300'
        href='{{this.href}}'
      >{{this.text}}</a>
      <span
        class='p-3 mx-1 bg-center bg-no-repeat bg-contain bg-image-chevron-right dark:invert'
      ></span>
    {{/if}}
  {{/each}}
</nav>

{{#if rows}}
  <article
    class='md:grid md:place-items-center md:[grid-template-columns:auto_1fr_auto_auto] p-2 rounded-lg md:bg-neutral-100/90 md:dark:bg-neutral-800/90 text-black dark:text-white'
  >
    <div class='hidden md:contents md:font-bold'>
      <div class='flex-shrink px-2 md:px-4 pt-2 pb-3'></div>
      <div
        class='flex-grow px-2 md:px-4 pt-2 pb-3 justify-self-start border-l-2 w-full h-full border-neutral-400 dark:border-neutral-600'
      >{{#if sort.name}}<a class='hover:underline' href='{{sort.name}}'>Название</a>{{else}}Название{{/if}}</div>
      <div
        class='flex-grow px-2 md:px-4 py-2 pb-3 border-l-2 w-full h-full border-neutral-400 dark:border-neutral-600'
      >{{#if sort.date}}<a class='hover:underline' href='{{sort.date}}'>Дата изменения</a>{{else}}Дата изменения{{/if}}</div>
      <div
        class='flex-grow px-2 md:px-4 pt-2 pb-3 border-l-2 w-full h-full border-neutral-400 dark:border-neutral-600'
      >{{#if sort.size}}<a class='hover:underline' href='{{sort.size}}'>Размер</a>{{else}}Размер{{/if}}</div>
    </div>

    {{#each rows}}
      <div
        class='md:contents px-3 py-2 grid items-center [grid-template:1fr_1fr/auto_1fr_auto] rounded-md bg-neutral-100 dark:bg-neutral-800 mt-4'
      >
        <div
          class='md:px-4 md:py-2 row-span-2 md:row-auto md:border-t-2 md:w-full md:h-full md:border-neutral-400 md:dark:border-neutral-600'
        >
          <img
            class='w-10 h-10 max-w-none object-contain object-center'
            src='/static/icons/{{this.type}}.svg'
            alt='{{this.type}}'
          />
        </div>
        <div
          class='justify-self-start flex items-center text-lg sm:text-base row-span-2 md:row-auto flex-grow px-4 md:px-4 md:py-2 [word-break:break-word] md:border-t-2 md:border-l-2 md:w-full md:h-full md:border-neutral-400 md:dark:border-neutral-600'
        >
          <a
            class='text-sky-800 dark:text-sky-400 hover:underline'
            href='{{this.link}}'
          >{{this.name}}</a>
        </div>
        <div class='md:contents relative px-2 md:px-4 py-2 whitespace-nowrap'><div
            class='md:hidden inline-block w-5 h-5 bg-center bg-contain bg-no-repeat bg-image-date dark:invert peer'
          >
          </div>
          <div
            class='z-10 right-0 top-full flex items-center justify-center transition-transform md:transition-none p-3 md:p-2 rounded peer-hover:scale-100 scale-0 md:scale-100 absolute md:static md:bg-transparent bg-neutral-100/90 dark:bg-neutral-800/90 border-2 border-neutral-400/50 dark:border-neutral-500/50 md:rounded-none md:border-b-0 md:border-r-0 md:w-full md:h-full md:border-neutral-400 md:dark:border-neutral-600'
          >{{this.date}}</div>
        </div>

        <div class='md:contents relative px-2 md:px-4 py-2 whitespace-nowrap'><div
            class='md:hidden inline-block w-5 h-5 bg-center bg-contain bg-no-repeat bg-image-size dark:invert peer'
          >
          </div>
          <div
            class='z-10 right-0 top-full flex items-center justify-center transition-transform md:transition-none p-3 md:p-2 rounded peer-hover:scale-100 scale-0 md:scale-100 absolute md:static md:bg-transparent bg-neutral-100/90 dark:bg-neutral-800/90 border-2 border-neutral-400/50 dark:border-neutral-500/50 md:rounded-none md:border-b-0 md:border-r-0 md:w-full md:h-full md:border-neutral-400 md:dark:border-neutral-600'
          >{{this.size}}</div>
        </div>
      </div>
    {{/each}}
  </article>
{{else}}
  <article class='flex-grow flex items-center justify-stretch'>
    <h2
      class='w-full bg-neutral-100/90 dark:bg-neutral-800/90 text-black dark:text-white px-5 py-10 text-3xl sm:px-7 sm:py-15 md:px-10 md:py-20 md:text-4xl xl:text-5xl rounded-xl text-center'
    >Упс... А здесь ничего нет <span class='tracking-wide'>（⊙_◎）</span></h2>
  </article>
{{/if}}
