<nav
  class='flex items-center content-center text-center my-5 px-2 md:px-4 py-1 text-xl overflow-x-auto whitespace-nowrap rounded-md text-black bg-neutral-100/80 dark:text-white dark:bg-neutral-800/80'
>
  {{#if navigation}}
    <a
      class='back p-3 mr-3 my-2 bg-image-back bg-center bg-no-repeat bg-contain transition-transform dark:invert hover:scale-110'
      href='..'
      title='назад'
    ></a>
    <a
      class='p-3 mr-1 md:mr-1 my-2 bg-center bg-no-repeat bg-contain bg-image-home transition-transform dark:invert hover:scale-110'
      href='/'
      title='на главную'
    ></a>
  {{else}}
    <span
      class='p-3 mr-1 md:mr-1 my-2 bg-center bg-no-repeat bg-contain bg-image-home dark:invert'
    ></span>
  {{/if}}
  <span
    class='p-3 mx-1 bg-center bg-no-repeat bg-contain bg-image-chevron-right dark:invert'
  ></span>
  {{#each navigation}}
    {{#if @last}}
      <span class='text-neutral-600 dark:text-neutral-300'>{{this.text}}</span>
    {{else}}
      <a
        class='underline decoration-2 hover:text-neutral-600 dark:hover:text-neutral-300'
        href='{{this.href}}'
      >{{this.text}}</a>
      <span
        class='p-3 mx-1 bg-center bg-no-repeat bg-contain bg-image-chevron-right dark:invert'
      ></span>
    {{/if}}
  {{/each}}
</nav>

<article>
  {{#if rows}}
    <table class='bg-neutral-200 dark:bg-neutral-700'>
      <thead>
        <tr>
          <th class='icon'></th>
          <th class='name'>{{#if sort.name}}<a
                href='{{sort.name}}'
              >Название</a>{{else}}Название{{/if}}</th>
          <th class='lastmod'>{{#if sort.date}}<a href='{{sort.date}}'>Дата изменения</a>{{else}}Дата
              изменения{{/if}}</th>
          <th class='size'>{{#if sort.size}}<a
                href='{{sort.size}}'
              >Размер</a>{{else}}Размер{{/if}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each rows}}
          <tr>
            <td class='icon'>
              <img src='/static/icons/{{this.type}}.svg' alt='{{this.type}}' />
            </td>
            <td class='name'>
              <a href='{{this.link}}'>{{this.name}}</a>
            </td>
            <td class='lastmod'>{{this.date}}</td>
            <td class='size'>{{this.size}}</td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  {{else}}
    <h1>Упс... А здесь ничего нет<span class='spacing-wide'>（⊙_◎）</span></h1>
  {{/if}}
</article>