<html lang='ru-RU'>
  <head>
    <title>Sharaga{{#if title}} - {{title}}{{/if}}</title>
    <meta charset='utf-8' />
    <meta name='theme-color' content='#001c2a' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='/static/style/main.css' />
  </head>

  <body
    class='flex flex-col bg-fixed bg-center bg-cover bg-no-repeat bg-image-main bg-color-[#001c2a]'
  >
    <header class='fixed flex bg-neutral-800/80 text-lg w-full text-white'>
      <div class='container flex items-center py-2 relative'>
        <a
          class='title text-2xl py-1 px-2 relative before:inline-block before:h-5 before:w-5 before:mr-2 before:bg-center before:bg-contain before:bg-no-repeat before:bg-image-education after:bg-white after:bottom-0 after:block after:h-0.5 after:left-0 after:right-0 after:absolute after:rounded after:scale-x-0 after:transition-transform after:duration-500 after:origin-left hover:after:scale-x-100'
          href='/'
        >Sharaga</a>
        <input class='menu-switcher peer' id='menu' type='checkbox' hidden />
        <label
          class='menu-button ml-auto cursor-pointer w-5 h-5 transition duration-300 bg-center bg-contain bg-no-repeat bg-image-menu peer-checked:w-4 peer-checked:h-4 peer-checked:rotate-180 peer-checked:bg-image-cross hover:invert-25 md:hidden'
          for='menu'
        >
        </label>
        <ul
          class='links flex flex-col absolute left-0 right-0 top-full scale-y-0 py-3 bg-neutral-800/80 transition-transform origin-top duration-300 peer-checked:scale-y-100 md:bg-transparent md:py-0 md:scale-y-100 md:static sm:flex-row content-center items-center justify-center select-none mx-auto text-center'
        >
          {{#each menu}}
            <li class='my-3 sm:my-0'><a
                class='link mt-1 mb-2 mx-4 p-2 relative transition-colors duration-300 hover:text-neutral-300 after:rounded after:bg-current after:bottom-0 after:left-0 after:right-0 after:absolute after:h-0.5 after:scale-y-0 after:transition-transform after:duration-300 hover:after:scale-y-100'
                target='_blank'
                rel='noopener noreferrer'
                href='{{this.link}}'
              >{{this.text}}</a></li>
          {{/each}}
        </ul>
      </div>
    </header>

    <main class='container pt-12'>
      {{{body}}}
    </main>

    <footer class='text-white text-center mt-2 py-3'>
      <p>Sharaga v{{version}}. Made with ❤ by
        <a class='text-white hover:text-slate-400' href='https://xapdkop.dev'>kosmotema</a>
      </p>
    </footer>
  </body>
</html>